[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
django-split-settings = "==1.1.*"
django-extensions = "==3.1.*"
django-debug-toolbar = "==3.2.*"

[dev-packages]
flake8 = "*"
black = "==21.8b0"
coverage = "*"
wily = "*"
bandit = "*"
ipdb = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
test = "python manage.py test"
shell = "python manage.py shell_plus --print-sql"
